.Copilot-FileUploader-container{
    @apply bg-white w-[540px] relative px-[24px] h-[620px] rounded-[16px] shadow-lg pt-[30px]
}
.Copilot-FileUploader-title{
    @apply text-[22px] font-semibold text-center text-[#0F0F0F]
}
.Copilot-FileUploader-icon{
    @apply w-[67px] h-[60px] bg-black bg-[#3c3744] justify-self-center mb-[20px];
     mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('./src/assets/Acord/Uploadicon.svg');
}
.Copilot-FileUploader-uploadBox-fileExist {
    @apply h-[202px] #{!important};
}

.Copilot-FileUploader-uploadBox-container{
    @apply mb-[12px] relative mt-2 rounded-[5px] p-[32px] px-0  w-auto max-w-[555px]  h-[445px]
}
.Copilot-FileUploader-uploadBox-loading{
    @apply w-full flex justify-center h-full items-center
}
.Copilot-FileUploader-uploadBox-box{
    @apply w-full relative  h-full bg-[#F8F8FF] border-dashed rounded-[10px]  border-2 border-[#384EB74D]
}
.Copilot-FileUploader-uploadBox-file{
    @apply w-full mt-[6px] mb-[6px] flex justify-between px-[12px] items-center h-[36px] rounded-[4px] border border-[#11AF22]
}